body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    font-weight: bold;
    color: orange;
}
span {
    color: blue;
    font-weight: bold;
}
.boxes {
    margin: 5em;
    padding: 5em;
    border: solid rgb(190, 164, 15);
    border-radius: 5em;
    width: 30em;
    display: block;
}
#box1 {
    background-color: lightblue;
}
#box2 {
    background-color: lightseagreen;
}
#box3 {
    background-color: lightsalmon;
}
#box4 {
    background-color: rgb(224, 139, 224);
}
.image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: black;
    position: absolute;
    left: 18em;
}
h1 {
    color: darkcyan;
}
.original {
    color: darkmagenta;
}
.additional {
    color: brown;
}
#rank1 {
    color: aliceblue;
}
#rank2 {
    color: gold;
}
#rank3 {
    color: blueviolet;
}
#rank4 {
    color: cornflowerblue;
}
#rank5 {
    color: maroon;
}
ul {
    color: honeydew;
}
.star {
    color: yellowgreen;
}
#wars {
    color: rebeccapurple;
}
.list-border {
    border: solid black 2px;
}